<!DOCTYPE HTML>
<html lang="en">

    <head>
        <title>{{title}}</title>
        <link rel="stylesheet" type="text/css" href="/public/css/bootstrap.min.css" >
        <link rel="stylesheet" type="text/css" href="/public/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="/public/css/styles.css">
    </head>

    <body>
        {{> header this }}
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    {{{ body }}}
                </div>
            </div>
        </div>
        {{> footer this }}
        <script type="text/javascript" src="/public/js/jquery.min.js"></script>
        <script type="text/javascript" src="/public/js/scripts.js"></script>
    </body>
</html>

{{#if dumpdata}}
<div style="border-top: solid 1px #eee; padding-top:1em;">
    <div class="container">
        {{{ dumpdata }}}
    </div>
</div>
{{/if}}